In [1]:
from functions_ok import *
from pipeline import *
import pickle

pkl_filename = "pickle_model_clasif.pkl"
with open(pkl_filename, 'rb') as file:
    pickle_model_clasif = pickle.load(file)
    
pkl_filename = "pickle_model_regr.pkl"
with open(pkl_filename, 'rb') as file:
    pickle_model_regr = pickle.load(file)

# Lectura de datos

In [2]:
#Leer datos
#cambiar archivo para datos no vistos
df_1 =  pd.read_csv("data_examen.csv").sample(10)
df_2 = df_1.copy()
df_3 = df_1.copy()
df_4 = df_1.copy()

## Predicciones modelo de clasificación

In [3]:
# Calcula las predicciones
pred = pickle_model_clasif.predict(transformaciones_df(df_2))
pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [4]:
#calcula las probas
probas=pickle_model_clasif.predict_proba(transformaciones_df(df_3))[:,1]
probas

array([0.00269195, 0.00269195, 0.43162393, 0.00269195, 0.00269195,
       0.00269195, 0.2345679 , 0.85847589, 0.00269195, 0.0911641 ])

# Predicciones modelo de regresión

In [5]:
y_pred=pickle_model_regr.predict(transformaciones_df(df_4))
y_pred

array([ 4.1 ,  6.1 , 17.45,  4.5 ,  7.  ,  5.3 ,  3.  , 28.1 ,  4.5 ,
        4.  ])

# Tabla de resultados

In [6]:
df_1["pred_clasifacion"] = pred
df_1["proba_clasif"] = probas
df_1["pred_regresion"] = y_pred
df_1

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,fare_class,pred_clasifacion,proba_clasif,pred_regresion
539270,2014-11-04 09:11:25.0000002,4.5,2014-11-04 09:11:25 UTC,-73.986603,40.764914,-73.987804,40.770100,1,low_fare,0,0.002692,4.10
549914,2009-02-19 11:48:00.000000138,7.3,2009-02-19 11:48:00 UTC,-73.991428,40.729800,-73.998875,40.720467,1,low_fare,0,0.002692,6.10
94165,2013-05-06 07:36:00.00000071,19.0,2013-05-06 07:36:00 UTC,-73.959992,40.765932,-74.006337,40.706142,1,low_fare,0,0.431624,17.45
360758,2015-04-19 10:31:45.0000006,4.0,2015-04-19 10:31:45 UTC,-73.980705,40.782570,-73.975433,40.789532,1,low_fare,0,0.002692,4.50
396053,2012-11-27 19:06:00.000000271,9.0,2012-11-27 19:06:00 UTC,-74.002582,40.749782,-73.985907,40.754730,1,low_fare,0,0.002692,7.00
101550,2012-04-26 22:04:00.00000049,6.9,2012-04-26 22:04:00 UTC,-74.000175,40.719832,-73.986975,40.721067,1,low_fare,0,0.002692,5.30
208282,2014-10-14 19:45:57.0000005,6.0,2014-10-14 19:45:57 UTC,0.000000,0.000000,0.000000,0.000000,1,low_fare,0,0.234568,3.00
18250,2010-02-05 07:52:37.0000001,18.9,2010-02-05 07:52:37 UTC,-73.966952,40.804133,-74.016711,40.715701,1,low_fare,1,0.858476,28.10
181369,2012-08-17 00:39:11.0000004,4.1,2012-08-17 00:39:11 UTC,-73.958384,40.801038,-73.963726,40.794758,1,low_fare,0,0.002692,4.50
135640,2009-05-05 17:10:45.0000001,40.0,2009-05-05 17:10:45 UTC,-73.975809,40.763632,-73.974500,40.763174,1,high_fare,0,0.091164,4.00